<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop" xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--使用配置文件-->
    <!--<bean id="studentService" class="cn.chan.test.StudentService">

        <property name="studentDao" ref="studentDao"></property>
    </bean>
    <bean id="studentDao" class="cn.chan.test.StudentDao"></bean>-->

    <!--使用注解-->
    <!--<context:component-scan base-package="cn.chan"></context:component-scan>-->


    <bean id="customer" class="cn.chan.aop.Customer"/>
    <bean id="addCustomer" class="cn.chan.aop.AddCustomer"/>

    <!--开启Aop注解-->
    <aop:aspectj-autoproxy></aop:aspectj-autoproxy>

 <!--   <aop:config>

        &lt;!&ndash;配置切入点&ndash;&gt;
        <aop:pointcut id="pointcut1" expression="execution(* cn.chan.aop.Customer.*(..))"></aop:pointcut>


        &lt;!&ndash;配置切面：把增强用到方法上面&ndash;&gt;
        <aop:aspect ref="addCustomer">

            <aop:before method="before" pointcut-ref="pointcut1"></aop:before>
            <aop:after method="after" pointcut-ref="pointcut1"></aop:after>

        </aop:aspect>
        
    </aop:config>-->
</beans>