<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!--配置四大参数
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql:///mydb5</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">123</property>-->

        <!--输出底层的sql语句-->
        <property name="hibernate.show_sql">true</property>

        <!--格式化sql语句-->
        <property name="hibernate.format_sql">true</property>

        <!-- hibernate帮创建表，需要配置之后
       update: 如果已经有表，更新，如果没有，创建-->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!--配置数据库方言-->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>


        <mapping class="cn.chan.entity.User"></mapping>
        <mapping class="cn.chan.entity.UserCollection"></mapping>
        <mapping class="cn.chan.entity.Singer"></mapping>
        <mapping class="cn.chan.entity.Song"></mapping>


    </session-factory>
</hibernate-configuration>