*{
margin:0;
padding:0;
list-style:none;
text-decoration: none;
}
input{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-user-modify: read-write-plaintext-only;
    outline: none;
    box-shadow: none;
}
li{
display: inline;
}
#header{
width: 1200px;
height:90px;
margin: 0px auto;
border-bottom:1px solid #e8e4e4;
}
.header_ul li{
padding:34px 20px;
line-height: 90px;
height: 90px;
text-align: center;
font-size: 22px;

}
.header_ul li a{
color:black;
}
.logo{
width:190px;
height: 90px;
float: left;

}
.header_ul li:first-child{
margin-left: 36px;
}
.text{
width: 200px;
height: 36px;
border: 0 none;
font-size: 14px;
background: 0 0;
}
.header_text{
border: 1px solid #c9c9c9;
width: 200px;
padding: 0 33px 0 15px;
line-height: 36px;
height: 36px;
position: relative;
border-radius: 3px;
margin-left: 610px;
margin-top: -63px;
}
.btn{
position: absolute;
top: 0;
right: 0;
border: 0 none;
width: 38px;
height: 36px;
overflow: visible;
background: url(../images/background1.jpg) -652px -18px;
cursor: pointer;
opacity:0.6;
}
.header_ul .li{
background:#31c27c;

}
.header_ul .li a{
color:white;
}
.login{
position: relative;
margin-top: -33px;
margin-left: 930px
}
.login a{
color: black;
font-size: 22px;
border: 1px solid #e4e4e4;
padding: 8px 25px;
border-radius: 5px;
}
.login li:first-child a{
background:#31c27c;
color:white;
}
#header_song{
width:450px;
margin:12px auto;

}
#header_song a{
color:black;
font-size: 20px;
margin: 0 20px;
padding:13px 0px;
}
#header_song li:first-child a{
background:#e8eae9;
}
#footer{
    background: #333

}
#footer div{
    width: 450px;
    margin: 0px auto;
	padding-top: 80px;
    padding-bottom: 50px;
    color: #a29898;
    font-size: 16px
}
.toplist__hd{
width:200px;
margin:40px auto;
}
.toplist__tit{
font-weight: 400;
font-size: 24px;
}

.songlist_header_number{
padding-left:315px;
color: #15829A;
}
.songlist_header_name{
padding-left:60px;
color: #51C714;
}
.songlist_header_author{
padding-left:100px;
color: #A2970B;
}
.songlist_header_time{
margin-right:337px;
padding-left:369px;
color: #DA471B;
}
.songlist_header{
line-height: 60px;
}
.songlist__number {
    width: 330px;
    left: 0;
    text-align: right;
    font-size: 15px;
	padding-top:10px;
    color: #333;
}
.songlist__number--top {
    color: #ff4222;
}
.songlist__songname_txt{
padding-left:410px;
}

.songlist__artist{
width: 590px;
    text-align: right;
    font-size: 18px;
font-size: 17px;
margin-top:-20px;
}

.a{
margin-top:-25px;

}
.songlist__number--pot{
width: 335px;
}
.songlist__time{
width: 1000px;
text-align: right;
    font-size: 18px;
margin-top:-30px;
color:rgb(133, 150, 141)
}
.songlist__artist{
text-align:left;
padding-left:552px;
    line-height: 60px;
	margin-top:-40px;
}
.songlist_list{

}
.aaa{
line-height:160%

}
.mod_page_nav {
    clear: both;
    text-align: center;
    margin-bottom: 53px;
margin-top:20px;
}
.mod_list_menu{
	width:200px;
overflow:hidden;
padding-left:820px;
margin-top:-40px;
}
.play{
	width:25px;

}

