.username,.password{
height: 30px;
width: 350px;
}
.vft{
height: 30px;
}
#login{
background:url(../images/background4.jpg);
padding-bottom: 100px;
}
#login td{
padding:5px 10px;
}
#login table{
width: 800px;
margin: 0 auto;
padding-top: 80px;
padding-bottom: 80px;
}
.btn2{
border:0 none;
width:200px;
padding:5px;
background:#31c27c;
font-size:16px;
color:white;
}
.tis{
width:290px;
}